<!-- src/app/app.component.html -->
<app-header></app-header>

<!-- Layout de 2 columnas -->
<div style="display: flex; margin-top: 1rem;">
  <div style="width: 40%; border-right: 1px solid #ccc; padding-right: 1rem;">
    <!-- Listado de Pokemons -->
    <app-pokemon-list (pokemonSelected)="onPokemonSelected($event)"></app-pokemon-list>
  </div>
  <div style="width: 60%; padding-left: 1rem;">
    <!-- Detalle del Pokemon -->
    <app-pokemon-detail [pokemonName]="selectedPokemonName"></app-pokemon-detail>
  </div>
</div>

<!-- Resumen abajo -->
<div style="margin-top: 2rem;">
  <app-pokemon-summary></app-pokemon-summary>
</div>