<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4">Listado de Pokemons</h2>

    <input type="text" [(ngModel)]="searchTerm" placeholder="Filtrar por nombre" (input)="applyFilter()"
        class="border border-gray-300 rounded-md py-2 px-3 w-64 focus:outline-none focus:border-red-500" />

    <table class="w-full mt-4 border-collapse overflow-hidden rounded-lg shadow">
        <thead>
            <tr class="bg-red-500 text-white">
                <th class="px-4 py-2 text-left">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of filteredPokemons" class="cursor-pointer hover:bg-gray-100"
                (click)="selectPokemon(pokemon.name)">
                <td class="border border-gray-200 px-4 py-2">
                    {{ pokemon.name }}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Botones de paginación -->
    <div class="mt-4 flex items-center">
        <button (click)="prevPage()"
            class="bg-red-500 text-white font-semibold py-2 px-4 rounded-md shadow hover:bg-red-600 focus:outline-none transition-colors cursor-pointer">
            Anterior
        </button>
        <button (click)="nextPage()"
            class="ml-2 bg-red-500 text-white font-semibold py-2 px-4 rounded-md shadow hover:bg-red-600 focus:outline-none transition-colors cursor-pointer">
            Siguiente
        </button>
        <span class="ml-4">
            (Mostrando {{ offset + 1 }} - {{ offset + limit }} de {{ totalPokemons }})
        </span>
    </div>
</div>